@font-face {
  font-family: 'pt_sansregular';
  src: url("../font/pt_sansregular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'pt_sansregular', sans-serif;
  padding: 20px; }

h2 {
  text-align: center; }

p {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  width: 480px;
  margin-left: auto;
  margin-right: auto; }

.wrap {
  margin: 0 auto;
  width: 800px;
  text-align: center; }

.btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 22px; }

.btn-antiquewhite {
  background: #faebd7;
  color: #000; }
  .btn-antiquewhite:hover {
    background: #f5d9b3;
    transition: all 0.3s ease; }
  .btn-antiquewhite:active {
    background: #e9a74f; }

.btn-darkgrey {
  background: #a9a9a9;
  color: #000; }
  .btn-darkgrey:hover {
    background: #959595;
    transition: all 0.3s ease; }
  .btn-darkgrey:active {
    background: #5d5d5d; }

.btn-gainsboro {
  background: #dcdcdc;
  color: #000; }
  .btn-gainsboro:hover {
    background: #c8c8c8;
    transition: all 0.3s ease; }
  .btn-gainsboro:active {
    background: #909090; }

.btn-slategrey {
  background: #708090;
  color: #fff; }
  .btn-slategrey:hover {
    background: #5e6c79;
    transition: all 0.3s ease; }
  .btn-slategrey:active {
    background: #2d343a; }
