.section-heading {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5rem;
    margin-top: 3rem;
    color: $color-secondary;
    font-size: 8rem;
}

.underline {
    width: 12rem;
    height: 0.3rem;
    background-color: $color-secondary;
    margin: 0 auto;
}